.listing {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img_holder {
    position: relative;
    height: 300px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
}

.img_holder img {
    transition: all 0.3s;
}

.img_holder:hover img {
    transform: scale(1.1);
}

.listing_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.listing_description {
    color: var(--slate-500);
}


.features {
    margin-top: 16px;
}
