.features {
    display: flex;
    gap: 16px;
}

.feature {
    position: relative;
    display: flex;
    align-items: center;
}

.feature:not(:first-child)::before {
    content: "";
    display: block;
    width: 1px;
    height: 24px;
    background-color: var(--slate-200);
    margin-right: 8px;
}
