.section {
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtitle {
    margin-top: 16px;
    color: var(--slate-500);
}

.wrapper {
    margin-top: 80px;
}

.listings {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.dropdown {
    display: none;
}

.tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--slate-200);
}

.tab {
    padding: 16px 24px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--slate-400);
}

.tab.active {
    color: var(--black);
}

@media (max-width: 768px) {
    .section {
        padding-top: 80px;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .wrapper {
        margin-top: 60px;
    }

    .listings {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 48px;
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 64px;
    }

    .dropdown {
        display: block;
    }

    .tabs {
        display: none;
    }

    .wrapper {
        margin-top: 48px;
    }

    .listings {
        grid-template-columns: 1fr;
        margin-top: 32px;
    }
}
